<div id='login-links' style='display:<%= @me ? 'none' : 'block'%>'>
  <a id='login-link' href='#'>login</a> |
  <a id='signup-link' href='#'>signup</a>
</div>

<form id='login-form' style='display:none'>
  email: <input id='login-input'/>
  <input id='login-submit' type='submit' value='login'/>
</form>

<div id='logout-links' style='display:none'>
  <input id='logout-button' type='submit' value='logout'/>
  <input id='dontlogout-button' type='submit' value='cancel'/>
</div>

<% if @me %>
<script>
  location.hash = '#<%= @me.shortlist%>';
</script>
<% end %>

<a id='login-user' style='display:<%= @me ? 'inline' : 'none'%>' href='#'>
<%= cookies['email'] rescue ''%>
</a>

<script>
  <%= render :file => 'logins/_show.js.erb'%>
</script>
