<div class="column view">
  <div class='closeButton'>x</div>
  <% if @me && @me.has_followees?%>
    <h3>You are following <%= @me.followee_count%></h3>
    <div style='padding-bottom:3em'>
      <% @me.shortlist.split(',').each do |followee|%>
        <% if followee =~ /[a-z]/i %>
          <div class='item' author='<%= followee%>'>
            <a class='author internal' href='http://news.ycombinator.com/user?id=<%= followee%>'><%= followee%></a>
            <a class='follow button' followee='<%= followee%>'>follow</a>
          </div>
        <% else %>
          <div class='item' story_hnid='<%= followee%>'>
            <span class='story internal'>
              <%= raw Item.title_with_hn_link(followee) %>
            </span>
            <a class='follow button' followee='<%= followee%>'>follow</a>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div id='follow-call' style='font-weight:bold; margin-bottom:1em; margin-left:1em'>
      You aren't following anybody yet.
      Click <span style='color:#bb5500;border:1px solid #bb5500;font-weight:bold;padding-left:0.5em;padding-right:0.5em'>follow</span> a few times to get started!
    </div>
    <div class='login-call' style='text-align:right; display:none; font-weight:bold; margin-bottom:1em; margin-right:5px'>Now login &uarr; to save your subscriptions</div>
  <% end %>

  <h3>Top users</h3>
  <div id='following' style='padding-bottom:1em'>
    <% Item.top_users.each do |item|%>
      <%= render 'root/show_user', :item => item if item%>
    <% end %>
  </div>
</div>
