<div class='item' hnid='<%= item.hnid %>' style='display:none'>
  <div class='contextbox'>
    <% if item.parent %>
      <div class='title'><%= raw item.story %></div>
      <div class='contextbutton'><%= pluralize item.ancestors.size, 'previous comment'%>..</div>
      <div class='context'>
        <% item.ancestors.reverse.each do |ancestor| %>
          <div class='ancestor' hnid='<%= ancestor.hnid %>'>
            <%= raw ancestor.contents %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class='<%= item.parent ? "itembox" : "title"%>'>
    <div class='shortlistClose'>x</div>
    <%= raw item.show_contents %>
  </div>

  <div class='threadbox'>
    <%= raw item.render_thread %>
  </div>
</div>
