<div class='comhead'>
  by <a class='author' followee='user:<%= item.author%>' href='http://news.ycombinator.com/user?id=<%= item.author%>'><%= item.author%></a>
  <% if item.timestamp.to_f > 0 %>
  | <%= distance_of_time_in_words(Time.now.to_i - item.timestamp.to_i)%> ago
  <% end %>
  <% if item.is_story? %>
  | <a class='story' followee='story:<%= item.hnid%>' href='/?item=<%= item.hnid%>'>link</a>
  <% else %>
  | <a class='comment' followee='http://news.ycombinator.com/item?id=<%= item.hnid%>' href='/?item=<%= item.hnid%>'>reply</a>
  <% end %>
</div>

<%= raw item.contents if item.contents %>
