<div class='comhead'>
  by <a class='author' href='http://news.ycombinator.com/user?id=<%= item.author%>'><%= item.author%></a>
  <% if item.timestamp.to_f > 0 %>
  | <%= distance_of_time_in_words(Time.now.to_i - item.timestamp.to_i)%> ago
  <% end %>
  | <a class='<%= "story" unless item.parent_hnid %>' href='http://news.ycombinator.com/item?id=<%= item.hnid%>'>link</a>
</div>

<%= raw item.contents if item.contents %>
