<div class='item' hnid='<%= item.hnid%>' story_hnid='<%= item.story_hnid%>' author='<%= item.author%>' style='display:none'>
  <div class='contextbox'>
    <div class='title <%= 'bold' if item.is_story?%><%= 'story' unless item.is_story?%>'>
      <%= raw item.title %>
    </div>
    <% if item.parent && item.parent_hnid != item.story_hnid %>
      <div class='moreComments button'><%= pluralize item.ancestors.size, 'more comment'%></div>
      <div class='context'>
        <% item.ancestors.reverse.each do |ancestor| %>
          <div class='ancestor' hnid='<%= ancestor.hnid %>'>
            <%= render 'root/show_contents', :item => ancestor %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class='itembox'%>
    <%= render 'root/show_contents', :item => item %>
  </div>
</div>
