<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title>HackerStream</title>
    <%= stylesheet_link_tag :all %>
    <link rel="stylesheet" media="handheld" href="/stylesheets/handheld/application.css"/>
    <link rel="stylesheet" media="screen and (max-device-width: 801px)" href="/stylesheets/handheld/application.css"/>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div id="pagetop">
      <div class='right'>
        <%= render :file => 'logins/_show.html.erb' %>

        | <a href='mailto:feedback@readwarp.com'>feedback</a>
      </div>

      <b>HackerStream</b>
      <img height="1" width="10" src="/images/s.gif">
      <a class='new_column_link' href='following'>following</a> |
      <a class='new_column_link' href='active_stories'>active stories</a> |
      <a class='new_column_link' href='active_users'>active users</a> |
      <a target="_blank" href="http://news.ycombinator.com/submit">submit</a>
    </div>

    <%= yield %>
  </body>
</html>
