<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title><%= layout['title']%></title>
    <%= stylesheet_link_tag :all %>
    <link rel="stylesheet" media="handheld" href="/stylesheets/handheld/application.css"/>
    <link rel="stylesheet" media="screen and (max-device-width: 801px)" href="/stylesheets/handheld/application.css"/>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div id="pagetop" style="background: <%= layout['topcolor']%>">
      <div class='right'>
        <% unless session[:user]%>
        <div id='login-links'>
          <a id='login-link' href='#'>login</a> |
          <a id='signup-link' href='#'>signup</a>
        </div>

        <form id='login-form' style='display:none'>
          email: <input id='login-input'/>
          <input id='login-submit' type='submit' value='login'/>
        </form>

        <script>
          $('#login-link').click(function() {
            $('#login-submit').attr('value', 'login');
            $('#login-links').slideUp('fast',
              function(){$('#login-form').slideDown('fast',
                function(){$('#login-input').focus();});});
            return false;
          });

          $('#signup-link').click(function() {
            $('#login-submit').attr('value', 'signup');
            $('#login-links').slideUp('fast',
              function(){$('#login-form').slideDown(
                function(){$('#login-input').focus();});});
            return false;
          });

          $('#login-form').submit(function() {
            $.ajax({
              url: '/login',
              type: 'post',
              data: {
                email: $('#login-input').val(),
                shortlist: shortlist.join(','),
              },
              success: function() {
                $('#login-form').hide();
                $('#login-user').html($('#login-input').val());
              },
              error: function() {
                $('#login-form').hide();
                $('#login-links').show();
              }
            });
            return false;
          });
        </script>
        <% end %>

        <div id='login-user'><%= session[:user].email rescue ''%></div>

        &nbsp;| <a href='mailto:feedback@readwarp.com'>feedback</a>
      </div>

      <b><a target="_blank" href="<%= layout['root']%>/"><%= layout['title']%></a></b>
      <img height="1" width="10" src="/images/s.gif">
      <a id='active_stories_link' href='active_stories'>active stories</a> |
      <a id='active_users_link' href='active_users'>active users</a> |
      <a target="_blank" href="<%= layout['root']%>/submit">submit</a>
    </div>

    <%= yield %>
  </body>
</html>
